<div class="main_continer">
  <h1 class="title">Motorsport news</h1>

  <div class="news_articles">
    <div class="news_article" *ngFor="let news of newsArticlesInfo | async">
      <img width="100%" src="{{ news.imageHor }}" />
      <h2>{{ news.title }}</h2>
      <h5>
        <span>Source: {{ news.source }}</span
        >&nbsp;&nbsp;|&nbsp;&nbsp;<span
          >Published: {{ news.publishedAt | date }}</span
        >
      </h5>
      <h3 class="detail_info">{{ news.body }}</h3>
      <hr />
    </div>
  </div>
  <h5>{{ year }}&nbsp;A Richard Lee's production</h5>
</div>
